  .wrapper {
	margin: 0 auto;
	padding: 0.2em;
	width: 25.5em;
	height: 10.5em;
	background-color: #141313;
	box-shadow: 7px 5px 4px rgba(0,0,0,0.5);
	border-radius: 5px;
	left: 10px;
	bottom: 10px;
	position:absolute;
  }
  
  
  .box {
	  width: 25em;
	  height: 10em;
	  position:sticky;
	  overflow: hidden;
	  background-color: rgb(14, 2, 2);
	  box-shadow: 7px 5px 4px rgba(0,0,0,0.5);
	  border: 1px solid black;
	  border-radius: 8px;
	  padding: 1.3em;
	  left: 20px;
		bottom: 20px;

	}
  
  .scroll {
	  position: absolute;

	  
	
  }
  
  